{% extends '/master/default.twig' %}
{% set subtitle = "Strona główna" %}

{% block main %}

    <p>Lorem ipsum dolor sit amet.</p>
    <a href="#" class="js-list-books ui">pokaz ksiazki</a>
    <div class="my-new-list"></div>
{% endblock %}
