{% extends '/master/default.twig' %}
{% set subtitle = "Strona główna" %}

{% block main %}

    <p>Lorem ipsum dolor sit amet.</p>
    <a href="#" class="js-list-books ui">pokaz ksiazki</a>
    <div class="my-new-list"></div>

    <form>
        <input type="text">
        <button type="button">Dodaj książkę</button>

    </form>

<h1>    Szczęśliwego Nowego Roku !</h1>
    <p>Niestety nie dałam rady, ale obiecuję Ci że w nowym roku będzie znacznie lepiej!</p>
    <p>Życzę Ci jeszcze więcej cierpilowości do mnie i samych sukcesów w phpie :)</p>
{% endblock %}
